@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply bg-gray-300;
}

.header {
    @apply flex flex-row items-center box-border w-full h-12 md:h-16 px-2 py-4 md:px-4;
}

.header-branding {
    @apply text-xl md:text-3xl font-bold flex-grow text-gray-600;
}
.fancy-link {
    position: relative;
    background: none;
    padding: 0;
    cursor: pointer;
    color: #1478f1;
}

.fancy-link::after {
    position: absolute;
    bottom: 1px;
    left: 0;
    content: '';
    width: 100%;
    height: 1px;
    background: #1478f1;
    transition-property: opacity, transform;
    transition-duration: 200ms;
}

.fancy-link:hover::after {
    opacity: 0;
    transform: scaleX(0.1);
}

.fancy-link:not(:focus-visible) {
    outline: none;
}

.app-body {
    @apply md:mt-6 md:mt-12;
}

.app-container {
    @apply flex flex-col pt-6 pb-12 px-6 md:py-6 box-border
            md:max-w-md m-2 md:mx-auto bg-white rounded-md shadow-lg;
}

.todos-heading {
    @apply p-0 mb-2 text-gray-900 font-medium text-xl;
}

.todos {
    @apply m-0;
}

.todo-item {
    @apply flex flex-row items-center m-1 p-1 border-b border-gray-200;
}

.icon-skeleton, .icon {
    width: 24px;
    height: 24px;
    @apply bg-gray-400 box-border p-0 rounded-full flex-shrink-0;
}

.todo-label-container {
    @apply ml-2;
}

.todo-label {
    @apply text-gray-800 text-base;
}

.user-label {
    @apply text-gray-500 text-xs;
}

.todo-form {
    @apply flex flex-row p-0 m-0 mt-4;
}

.todo-input, .form-input {
    @apply flex-grow py-2 px-4 border-gray-500 shadow-md rounded-lg
            focus:outline-none focus:ring-2 focus:ring-blue-400;
}

.login-form {
    @apply flex flex-col;
}

.form-input {
    /* @apply ml-4; */
}

.delete-button {
    background: none;
    fill: #1a202c;
    width: 16px;
    height: 16px;
    margin: 4px;
    @apply box-border p-0 rounded-full flex-shrink-0;
}

.delete-button:hover {
    background: rgba(0, 0, 0, 0.2);
}

.delete-button:active {
    background: rgba(0, 0, 0, 0.6);
    fill: #f0f2f6;
}

.delete-button:not(:focus-visible) {
    outline: none;
}

.add-button, .login-button {
    @apply transition py-2 px-4 bg-blue-500
            text-white font-semibold rounded-lg shadow-md
            disabled:opacity-50;
}

.add-button {
    @apply ml-4;
}

.add-button:disabled, .login-button:disabled  {
    @apply bg-gray-400 cursor-not-allowed shadow-none;
}

.add-button:not(:disabled), .login-button:not(:disabled) {
    @apply hover:bg-blue-700 focus:outline-none focus:ring-2
        focus:ring-blue-400 focus:ring-opacity-75;
}

.footer-branding {
    @apply text-gray-500 text-center my-8 text-xs;
}
